body {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#figcaption {
    text-align: center;
}

#focaccia{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
