body {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: "Raleway";
}

header {
    text-align: center;
    
}

#figcaption {
    text-align: center;
    color: gray;
    }

h1{
text-align: center;
}

#focaccia{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#yellowbandbg{
    background-color: rgb(253, 253, 218);
    border-style: solid;
    border-top-color: rgb(255, 217, 0);
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
    border-width: 1px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#featured {
    color: brown;
    border-style: solid;
    border-bottom: hidden;
    border-right: hidden;
    border-top: hidden;
    border-color: rgb(255, 217, 0);
    border-width: 1px;
    margin-left: auto;
    padding-inline: 20px;
}

#logo {
    width: 200px;
}

#cyanb {
    border-style: solid;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-color: rgb(174, 255, 255);
    border-width: 1px;
    padding-bottom: 20px;
}

#secondcyan {
    border-style: solid;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-color: rgb(174, 255, 255);
    border-width: 1px;
    padding-bottom: 20px;
}

